@import '../../colors.module.scss';

@mixin btn {
  color: $colorText;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid $colorBorder;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  background: $colorBackground;
  cursor: pointer;

  &:hover {
    background: $colorHovered;
  }
}

.container {
  display: flex;
  flex-direction: row;
  width: '100%';
  padding: 1rem 1.5rem;
  border-bottom: 1px solid $colorBorder;
  align-items: center;
}

.todayBtn {
  @include btn;
  margin-left: 3rem;
}

.calendarNavBtn {
  cursor: pointer;
  pointer-events: all;
  background: $colorTransparent;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: $colorHovered;
  }
}

.calendarLeftNavBtn {
  margin-left: 1.5rem;
}

.calendarMonth {
  margin-left: 1.5rem;
  color: $colorText;
  font-size: 1.4rem;
}

.tabsContainer {
  margin-left: auto;
  position: relative;
  display: block;
}

.tabsMenuBtn {
  @include btn;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1.5rem;
}

.tabsMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 0.25rem;
  background: $colorBackground;
  box-shadow: 0px 0.2rem 0.5rem $colorText;
  z-index: 1;
  width: 9rem;
  right: 0;
  margin-top: 0.3rem;
  padding: 0.5rem 0;

  button{
    background: $colorTransparent;
    display: flex;
    padding: 0.5rem 1rem;
    color: $colorText;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background: $colorHovered;
    }
  }
}