$colorPrimary: #1a73e8;
$colorSecondary: #f1f3f4;
$colorBackground: white;
$colorText: #414548;
$colorTextSecondary: #70757a;
$colorBorder: #dadce0;
$colorTransparent: transparent;
$colorHover: lightgray;

:export {
  colorPrimary: $colorPrimary;
  colorSecondary: $colorSecondary;
  colorBackground: $colorBackground;
  colorText: $colorText;
  colorTextSecondary: $colorTextSecondary;
  colorBorder: $colorBorder;
  colorTransparent: $colorTransparent;
  colorHover: $colorHover
}