@import '../../colors.module.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.text {
  font-size: 1.4rem;
  color: $colorText;
  margin-left: 0.75rem;
}