@import '@/colors.module.scss';

@mixin text {
  font-weight: 500;
  color: $colorBackground;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }
}

.title {
  @include text;
  font-size: 1.4rem;
}

.duration {
  @include text;
  font-size: 1rem;
  opacity: 0.75;
}