@import '../../../colors.module.scss';

.container {
  border-bottom: 1px solid $colorBorder;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  border-left: 1px solid $colorBorder;
}

.title {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background: $colorHovered;
  }
}

.first {
  width: auto;
}

.active {
  color: $colorText
}

.inactive {
  color: $colorTextSecondary
}

.today {
  background: $colorPrimary;
  color: $colorBackground
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.eventsMore {
  max-width: 100%;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis; 
  padding: 0.15rem 0.5rem;
  color: $colorText;
  margin-bottom: 0.125rem;
  text-align: start;
}