@import '@/colors.module.scss';

.container {
  box-sizing: border-box;
  min-height: 3rem;
  border-top: 1px solid $colorBorder;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 1.5rem;
}

.title {
  font-weight: 500;
  font-size: 0.7rem;
  color: $colorTextSecondary;
  position: absolute;
  top: -0.45rem;
  left: -2rem;
  text-align: end;
  width: 1.5rem;
  // box-sizing: border-box;
}

.content {
  flex: 1;
  border-left: 1px solid $colorBorder;
  box-sizing: border-box;
  margin-left: 0.75rem;
}