@import '../../colors.module.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 1.5rem;
  gap: 1rem;
}

.titleInput {
  font-size: 1.5rem;
  margin-left: 2.25rem;
  flex: 1;
  border-bottom: 2px solid $colorBorder;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .icon {
    margin-top: 0.5rem;
    width: 1.25rem;
  }
}

.dateTimePicker {
  flex: 1;
  background: $colorSecondary;
  padding: 0.5rem;
  font-size: 1rem;
  color: $colorText;
}

.descriptionTA  {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  color: $colorText;
  background: $colorSecondary;
  resize: none;
}

.rowColorOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  .icon {
    width: 1.25rem;
    margin-right: 0.5rem;
  }
}

.colorOption {
  width: 1.5rem;
  height: 1.5rem;
  background: red;
  border-radius: 50%;
  cursor: pointer;
}