@import '@/colors.module.scss';

.container {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.1rem;
  cursor: pointer;

  &:hover {
    background: $colorHovered;
  }
}

.active {
  color: $colorText
}

.inactive {
  color: $colorTextSecondary
}

.today {
  background: $colorPrimary;
  color: $colorBackground;

  &:hover {
    background: $colorPrimary;
    opacity: 0.75;
  }
}