@import '../../colors.module.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: $colorSecondary;
  padding: 0.25rem 0.75rem;
  color: $colorText
}

.title {
  flex: 1;
  font-size: 1rem;
}

.closeBtn {
  background: $colorTransparent;
  border: 0;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    background: $colorHover;
  }
}