@import '../../colors.module.scss';

.container {
  box-sizing: border-box;
  border-bottom: 1px solid $colorBorder;
  display: flex;
  flex-basis: calc(100% / 7);
  flex-direction: column;
  align-items: center;
  // flex: 1;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 4px;
  padding: 4px;
  border-radius: 50px;
  height: 18px;
  width: 18px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: $colorHover;
  }
}

.first {
  width: auto;
}

.active {
  color: $colorText
}

.inactive {
  color: $colorTextSecondary
}

.today {
  background: $colorPrimary;
  color: $colorBackground
}