@import '../../colors.module.scss';

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}

.modal {
  background: $colorBackground;
  border-radius: 0.5rem;
  width: 30rem;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0.25rem 0.5rem $colorText;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: $colorSecondary;
  padding: 0.25rem 0.75rem;
  color: $colorText;
  border-radius: 0.5rem 0.5rem 0 0;
}

.headerTitle {
  flex: 1;
  font-size: 1rem;
}

.closeBtn {
  background: $colorTransparent;
  border: 0;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    background: $colorHovered;
  }
}

.body {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 1.5rem;
  gap: 1rem;
  overflow: auto;
}

.titleInput {
  font-size: 1.5rem;
  margin-left: 2.25rem;
  flex: 1;
  border-bottom: 2px solid $colorBorder;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .icon {
    margin-top: 0.5rem;
    width: 1.25rem;
  }
}

.dateTimePicker {
  flex: 1;
  background: $colorSecondary;
  padding: 0.5rem;
  font-size: 1rem;
  color: $colorText;
}

.descriptionTA  {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  color: $colorText;
  background: $colorSecondary;
  resize: none;
}

.rowColorOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  .icon {
    width: 1.25rem;
    margin-right: 0.5rem;
  }
}

.colorOption {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selected {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  background: $colorBackground;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.5rem 0.75rem;
}

.saveBtn {
  padding: 0.6rem 1.5rem;
  background: $colorPrimary;
  color: $colorBackground;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;

  &:hover:enabled {
    box-shadow: 0px 1px 2px $colorText;
  }

  &:disabled {
    cursor: default;
    opacity: 0.4;
  }
}