@import '../../../colors.module.scss';

.container {
  text-align: center;
  flex-basis: calc(100% / 7);
  box-sizing: border-box;
  padding-top: 0.5rem;
  color: $colorTextSecondary;
  font-size: 0.7rem;
  font-weight: 600;
}